button{
    padding: 15px;
    border: none;
    border-radius: 10px;
}
.primary{
    background-color: rgb(55, 55, 213);
    color: #fff;
}
.secondary{
    background-color: rgb(64, 161, 64);
    color: #fff;
}